* {
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
  background-color: #f0f0f0;
  width: 100%;
  margin: 0;
}

.content {
  max-width: 1200px;
}
